# macOS
.DS_Store

# Xcode user-specific data
xcuserdata/
*.xcuserstate

# Xcode workspace settings
**/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
.build/
*.resolved

# Build output
DerivedData/
build/
